<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rstsysui.s0ptq.rstsysui">

    <application
        android:allowBackup="true"
        android:label="箱子"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="箱子"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="箱子"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ShellInputActivity"
            android:label="箱子"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <service
            android:name=".QuickSettingService"
            android:icon="@drawable/tile_icon"
            android:label="重启用户界面"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".QuickSettingService1"
            android:icon="@drawable/tile_icon1"
            android:label="关闭SeLinux"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".QuickSettingServicepay"
            android:icon="@drawable/pay"
            android:label="支付"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>


</manifest>